#Options +FollowSymLinks

RewriteEngine On

RewriteCond %(REQUEST_FILENAME) !-f
RewriteCond %(REQUEST_FILENAME) !-d
RewriteCond %{REQUEST_URI} !(\.css|.js|.jpg|.jpeg|.png)$ [NC]
#RewriteCond %{REQUEST_URI} !(\.js)$ [NC]

RewriteRule ^(.*)$ index.php?$1 [L] #QSA