html {
  height: 100%;
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #34d2af;
}

  header div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
  }

  header a {
    font-size: medium;
    text-decoration: none;
  }

  header a, a:visited, a:hover {
    color: #06276f;
  }

nav {
  display: flex;
  background-color: #4380d3;
  padding: 10px;
}

  nav a {
    margin-right: 1%;
    text-decoration: none;
  }

    nav a, a:visited {
      color: #06276f;
    }

    nav a:hover {
      color: #34d2af;
    }

  #prof {
    margin-left: auto;
  }

main {
  flex: 1 0 auto;
  text-align: center;
  background-color: #96DCC7;
}

  main #start {
    height: 70vh;
  }

  form {
    display: flex;
    flex-direction: column;
    margin: 1em auto;
    background-color: #34d2af;
    border: 2px solid #4380d3;
    border-radius: 5px;
    padding: 1em;
  }

    form label {
      /*width: 100%;*/
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
    }

    form span {
      flex: 1;
    }

    form em {
      color: #ff0000;
    }

    #form_login {
      width: 220px;
    }

      #form_login input {
        flex: 3;
      }

    #form_registration {
      max-width: 30%;
    }

      #form_registration input {
        flex: 4;
      }

    #form_post {
      width: 80%;
      margin: 1em auto;
    }

      #form_post input, textarea {
        flex: 8;
      }

    #form_profile {
      display: block;
      width: 60%;
      margin: 1em auto;
    }

      #form_profile img {
        float: left;
        width: 20%;
      }

      #form_profile div {
        margin-left: 22%;
      }

      #form_profile label {
        display: flex;
        margin-bottom: 1em;
        /*flex-direction: column;*/
      }

      #form_profile span {
        /*flex: 1;*/
        text-align: right;
        padding-right: 0.5em;
      }

      #form_profile input {
        flex: 4;
      }

     #form_load {
       width: 30%;
     }

       #form_load input {
         align-self: center;
       }

       #load_btn {
         width: 20%;
         align-self: center;
       }

  #all_posts {
    width: 80%;
    margin: 1em auto;
  }

  .post {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    margin-bottom: 1em;
    background-color: #ffffff;
    border: 2px solid #0000ff;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.5);
  }

    .post > div {
      display: flex;
    }

    .post div div {
      flex: auto;
      font-weight: bold;
      text-align: left;
    }

    .post span {
      margin: 0 2px;
    }

    .post > div:first-child {
      margin-bottom: 3px;
    }

footer {
  flex: 0 0 auto;
  text-align: center;
  background-color: #34d2af;
}
